{% extends "base.html" %}

{% block content %}
<h1>Cell {{ identifier }}</h1>
<ul>
  {% for graph in cell.tree_graphs %}
  <li><h2>Tree {{ graph.graph_properties.treeID }}</h2><br>
    <object type="image/svg+xml" data="{{ identifier }}_tree_{{ graph.graph_properties.treeID }}.svg" style="width:100%;height:100%;"></object>
    <ul>
    {% for v in graph.vertices() %}
    <li><p>
      <h3>{{ graph.vertex_properties.genes[v.__int__()].name }}</h3>
      {% for k,v in graph.vertex_properties.genes[v.__int__()].data_members.items() %}
      {{ k }}: {{ v }}<br>
      {% endfor %}
    </p></li>
    <br />
    {% endfor %}
  </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
